<div *ngFor="let item of items$">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <blog-item [image]="item.image" [text]="item.text">
      </blog-item>
    </div>
  </div>
</div>

